@charset "UTF-8";

/* 상단메뉴(header-top) */
#header{
    width: 100%;
}
#header_top{
    width: 100%;
    height: 88px;
}
#header_top .top_menu{
    max-width: 1440px;
    margin: auto;
    min-height: 88px;
    position: relative;
    z-index: 3;
}
#header_top .top_left>li>a{
    font-size: 14px;
    margin-right: 48px;
    position: relative;
}
#header_top .top_left span{
    padding: 5px;
}
#header_top .top_left>li:first-child>a{
    margin-right: 32px;
}
#header_top .top_left .quick1{
    position: relative;
}
#header_top .top_left .quick1.on>a,
#header_top .top_left .quick2.on>a{
    color: #2e63c5;
}
#header_top .top_left .quick1.on span,
#header_top .top_left .quick2.on span{
    background-color: #E8F0FE;
    position: relative;
    padding: 5px;
    border-radius: 5px;
}

#header_top .top_left .quick1.on .q_menu_wrap1{
    opacity: 1;
    display: block;
    height: 368px;
}
#header_top .top_left .quick2.on .q_menu_wrap2{
    opacity: 1;
    display: block;
    height: 292px;
}
#header_top .top_left .quick1.on>a::after,
#header_top .top_left .quick2.on>a::after{
    background: url(../images/common/select_arrow.svg) no-repeat right center;
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    top: 55%;
    transform: translate(25%,-50%) rotate(180deg);
    left: 100%;
}
#header_top .top_left .q_menu_wrap1{
    opacity: 0;
    height: 0px;
    overflow: hidden;
    position: absolute;
    border-radius: 10px;
    background: #ffffff;
    width: 410px;
    top: 30px;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0px 5px 5px 1px rgba(35,52,71,.12);
    transition: all .3s ease;
}
#header_top .top_left .q_menu1{
    height: 100%;
    width: 100%;
}
#header_top .top_left .q_menu1>li{
   display: block;
}
#header_top .top_left .q_menu1>li.active .q_menu1_2depth{
    display: block;
}
#header_top .top_left .q_menu1>li.active a:after{
    display: block;
}
#header_top .top_left .q_menu1>li.active a{
    background: #ffffff;
}
#header_top .top_left .q_menu1>li>a{
    position: relative;
    font-size: 14px;
    display: block;
    padding: 10px 18px;
    line-height: 140%;
    width: 160px;
    background: #E8F0FE;
}
#header_top .top_left .q_menu1>li:nth-child(n+2)>a{
    border-top: 1px solid rgba(0,0,0,.1);
}
#header_top .top_left .q_menu_1 li a li a{
    display: block;
    font-size: 14px;
    cursor: pointer;
}
#header_top .top_left .q_menu1>li>a::after{
    position: absolute;
    display: none;
    content: '';
    top: 32%;
    left: 135px;
    background: url(../images/common/select_arrow.svg) no-repeat center center;
    width: 12px;
    height: 12px;
    transform: rotate(-90deg);
}
#header_top .top_left .q_menu1_2depth{
    display: none;
    height: 100%;
    overflow-y: scroll;
    line-height: 140%;
    font-size: 14px;
    position: absolute;
    left: 150px;
    top: 0px;
    word-break: keep-all;
    margin: 10px 15px 10px 0px;
    padding: 10px 15px 12px 28px;
}
#header_top .top_left li:nth-child(1) .q_menu1_2depth,
#header_top .top_left li:nth-child(4) .q_menu1_2depth,
#header_top .top_left li:nth-child(5) .q_menu1_2depth{
    overflow-y: initial;
}

#header_top .top_left .q_menu1_2depth::-webkit-scrollbar,
#header_top .top_left .q_menu2::-webkit-scrollbar{
    width: 10px;
    height: 327px;
    border: 0px solid #ffffff;
    border-radius: 5px;
}
#header_top .top_left .q_menu1_2depth::-webkit-scrollbar-thumb,
#header_top .top_left .q_menu2::-webkit-scrollbar-thumb{
    background-color: #bfbfbf;
    border: 0px solid #ffffff;
    border-radius: 5px;
}
#header_top .top_left .q_menu1_2depth::-webkit-scrollbar-track,
#header_top .top_left .q_menu2::-webkit-scrollbar-track{
    background-color: #eaeef1;
}
#header_top .q_menu1 li .q_menu1_2depth li{
    width: 193px;
}
#header_top .top_left .q_menu1_2depth ul{
    padding-bottom: 20px;
    margin-top: -15px;
}
#header_top .top_left .q_menu1_2depth li{
    margin-top: 12px;
}
#header_top .top_left .q_menu1_2depth li:hover a{
    text-decoration: underline;
}

#header_top .top_left .q_menu_wrap2{
    opacity: 0;
    height: 0px;
    position: absolute;
    border-radius: 10px;
    background: #ffffff;
    width: 200px;
    overflow: hidden;
    top: 30px;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0px 5px 5px 1px rgba(35,52,71,.12);
    transition: all .3s ease;
}
#header_top .top_left .q_menu2{
    overflow-y: scroll;
    margin: 10px 14px 10px 0px;
    height: 270px;
    padding: 15px;
}
#header_top .top_left .q_menu2 li{
    width: 100%;
    line-height: 30px;
}
#header_top .top_left .q_menu2 li a{
    font-size: 14px;
    cursor: pointer;
}
#header_top .top_left .q_menu2 li a:hover{
    text-decoration: underline;
}

#header_top .top_left>li:nth-child(2)>a::after{
    background: url(../images/common/select_arrow.svg) no-repeat right center;
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    top: 55%;
    transform: translate(25%,-50%) rotate(0);
    transition:linear 0.25s;
    left: 100%;
}
#header_top .top_left>li:nth-child(3)>a::after{
    background: url(../images/common/select_arrow.svg) no-repeat right center;
    content: '';
    display: block;
    position: absolute;
    width: 12px;
    height: 12px;
    top: 55%;
    transform: translate(25%,-50%) rotate(0);
    transition:linear 0.25s;
    left: 100%;
}
#header_top .top_left>li:nth-child(n+2)>a::before{
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 60%;
    background: #cdcdcd;
    top: 55%;
    left: -25%;
    transform: translateY(-50%);
}
#header_top .top_left>li:hover>a{
    color: #2e63c5;
}

#header_top fieldset{
    height: 49px;
    border: none;
}
#header_top legend{
    display: none;
}
#header_top .search_bar{
    font-size: 15px;
    width: 430px;
    height: 100%;
    background: #f2f2f2;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 100px;
    padding: 0px 40px 0px 25px;
    text-align: left;
    overflow: hidden;
}
#header_top .search_icon{
    display: block;
    background: transparent url(../images/common/search.svg) no-repeat center center;
    width: 20px;
    height: 20px;
    text-indent: -99999px;
    top: 50%;
    right: 4%;
    transform: translateY(-50%);
    border: 0;
    position: absolute;
    cursor: pointer;
}
#header_top .sns_icon a{
    margin-left: 5px;
}
#header_top .sns_icon:first-child a{
    display: block;
    background: #3a589e url(../images/common/sns_1_w.svg) no-repeat center center;
    border-radius: 50%;
    text-indent: -99999px;
    width: 30px;
    height: 30px;
}
#header_top .sns_icon:nth-child(2) a{
    display: block;
    background: #59b4e8 url(../images/common/sns_2_w.svg) no-repeat center center;
    border-radius: 50%;
    text-indent: -99999px;
    width: 30px;
    height: 30px;
}
#header_top .sns_icon:nth-child(3) a{
    display: block;
    background: #ee4444 url(../images/common/sns_3_w.svg) no-repeat center center;
    border-radius: 50%;
    text-indent: -99999px;
    width: 30px;
    height: 30px;
}
#header_top .sns_icon:nth-child(4) a{
    display: block;
    background: #f8c513 url(../images/common/sns_4_w.svg) no-repeat center center;
    border-radius: 50%;
    text-indent: -99999px;
    width: 30px;
    height: 30px;
}
#header_top .sns_icon:nth-child(5) a{
    display: block;
    background: #23aa36 url(../images/common/sns_5_w.svg) no-repeat center center;
    border-radius: 50%;
    text-indent: -99999px;
    width: 30px;
    height: 30px;
}
#header_top .sns_icon:nth-child(6) a{
    display: block;
    background: #3cc44f url(../images/common/sns_6_w.svg) no-repeat center center;
    border-radius: 50%;
    text-indent: -99999px;
    width: 30px;
    height: 30px;
}
#header_top .sns_icon:last-child a{
    display: block;
    background: #8f23bd url(../images/common/sns_7_w.svg) no-repeat center center;
    border-radius: 50%;
    text-indent: -99999px;
    width: 30px;
    height: 30px;
}
#header_top .top_left{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
#header_top .search_menu{
    max-width: 490px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
#header_top .top_right{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}


/* 상단메뉴(gnb) */
#lnb{
    width: 100%;
    position: relative;
    box-shadow: 0px 10px 10px 0px rgba(200, 200, 200, 0.1);
}
#nav{
    max-width: 1440px;
    max-height: 78px;
    margin: auto;
}
.width100{
    width: 100%;
    position: absolute;
    left: 0;
    top:78px;
    background: #2e63c5;
    z-index: 1;
    height: 0;
    overflow: hidden;
    border-top: 1px solid #fff;
    transition: height 0.5s;
}
#nav li:hover .width100{
    display: block;
    height: 680px;
    z-index: 2;
    border-top: 1px solid #cecece;
}
#nav li .bg_white{
    background: #ffffff;
    position: absolute;
    width: 50%;
    height: 100%;
    top:0;
    right: 0;
}
#nav li .m_width{
    width: 1440px;
    margin: 0 auto;
    background: #ffffff;
}
#nav li .m_width .width_box{
    max-width: 1100px;
    margin: 0 auto;
    padding: 10px 0;
    background: #ffffff;
}
#nav li{
    height: auto;
    margin: auto;
}
#nav li#moe_logo{
    margin-top: 15px;
}
#nav li#moe_logo>a{
    padding:0;
}
#nav li a{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 14px 35px;
}
#nav>li:nth-child(-n+6)>a::before{
    content: '';
    height: 2px;
    width: 0%;
    top : 76px;
    left: 50%;
    background: #2e63c5;
    position: absolute;
    transition: width 0.5s;
    transform: translateX(-50%);
}
#nav>li>a:hover:before{
    width: 100%;
}
#nav>li#moe_logo>a:hover:before{
    width: 0%;
}
#nav .m_1>a, .m_2>a, .m_3>a, .m_4>a, .m_5>a, .allmenu{
    display: block;
    line-height: 50px;
    font-weight: bold;
    font-size: 21px;
}
#nav li.m_1{
    margin-left: 200px;
}
#nav li .m_width .m_1_title{
    padding: 0 50px;
    background: #2e63c5 url(../images/common/gnb_bg.png) no-repeat 62px 430px;
    max-width: 280px;
    min-height: 680px;
    margin-right: 10px;
    color: #ffffff;
}
#nav li .m_width .m_1_title h2{
    font-size: 27px;
    font-weight: bold;
    margin: 80px 0px 0px 0px;
    text-align: right;
}

/* 2depth */
#nav li ul li{
    position: relative;
    width: 200px;
    margin: 0 10px;
}
#nav li ul li li::before{
    content: '';
    display: block;
    position: absolute;
    width: 4px;
    height: 4px;
    left: -14px;
    top: 10px;
    background-color: #ccc;
    border-radius: 50%;
}
#nav li ul li>a{
    padding: 10px 0px 0px 0px;
    line-height: 180%;
    font-weight: normal;
    font-size: 14px;
}
#nav li ul li h3>a{
    display: block;
    font-size: 15px;
    padding: 10px;
    font-weight: bold;
    background: url(../images/common/gnb_bul.svg) no-repeat 160px center;
}
#nav li ul li h3{
    font-size: 15px;
    padding-left: 5px;
    margin: 30px 0px 15px 0px;
    border: 1px solid #cecece;
    border-radius: 5px;
}
#nav li ul li a:hover{
    color: #2e63c5;
}
#nav li ul li:hover h3{
    font-weight: bold;
    border: 1px solid #1a1a1a;
    border-radius: 5px;
    color: #2e63c5;
}
#nav li ul li:hover h3>a{
    color: #2e63c5;
    background: url(../images/common/gnb_bul_on.svg) no-repeat 160px center;
}
#nav li ul li ul{
    font-size: 14px;
}
#nav li .m_width p{
    text-align: right;
    margin-top: 30px;
}
#nav li .m_width img{
    margin: 40px 0px 0px 110px;
}
#nav li .m_width li.height{
    height: 300px;
}
#nav .allmenu a{
    position: relative;
    padding-right: 0px;
    top: 15px;
    font-size: 17px;
    font-weight: normal;
}
#nav .allmenu a:hover{
    color:#2e63c5;
}
#nav .allmenu a::before{
    content: "";
    display: block;
    width: 18px;
    height: 15px;
    background: url(../images/common/menu.svg) no-repeat;
    position: absolute;
    left: 8px;
    top: 20px;
}

/* contents */
#contents{
    width: 100%;
    background: #E8EFF5;
    overflow: hidden;
}
#contents_wrap{
    max-width: 1440px;
    padding: 30px 0 60px;
    margin: 0 auto;

}
#main_contents{
    padding-top: 20px;
    overflow: hidden;
}

/* main_banner */
#contents_wrap .main_banner{
    position: relative;
    width: 705px;
    height: 338px;
    border-radius: 25px;
}
#contents_wrap .banner_img{
    width: 100%;
    height: 338px;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
}
#contents_wrap .banner_img ul.banner_slide{
    width: 100%;
    height: 100%;
    border-radius: 25px;
}
#contents_wrap .banner_img ul.banner_slide li{
    position: absolute;
    width: 705px;
    height: 338px;
}
#contents_wrap .banner_img ul li.visual_0 a{
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/main/banner_1.jpg) no-repeat center center/contain;
    border-radius: 25px;
}
#contents_wrap .banner_img ul li.visual_1 a{
    display: block;
    width: 100%;
    height: 100%;
    background: url(../images/main/banner_2.jpg) no-repeat center center/contain;
    border-radius: 25px;
}
#contents_wrap .banner_img a>h3{
    font-size: 27px;
    color: #ffffff;
    font-weight: bold;
    position: absolute;
    top: 24%;
    left: 5%;
}
#contents_wrap .banner_img a::after{
    content: '';
    display: block;
    background: url(../images/main/popupzone_link.svg) no-repeat;
    width: 60px;
    height: 27px;
    position: absolute;
    bottom: 14%;
    left: 6%;
}
#contents_wrap .banner_btn{
    width: 150px;
    height: 50px;
    position: absolute;
    top: 1px;
    right: -2px;
}
#contents_wrap .banner_btn button{
    border: none;
    border-radius: 0;
    cursor: pointer;
}
#contents_wrap .banner_btn .btn_left{
    background: #000000 url(../images/common/white_arrow.svg) no-repeat;
    width: 48px;
    height: 48px;
    display: block;
    opacity: .6;
    transition: opacity 0.7s;
}
#contents_wrap .banner_btn .btn_left:hover{
    opacity: 1;
}
#contents_wrap .banner_btn .btn_play{
    background: #000000 url(../images/common/white_stop.svg) no-repeat;
    width: 48px;
    height: 48px;
    display: block;
    margin: 0px 2px;
    opacity: .6;
    transition: opacity 0.7s;
}
#contents_wrap .banner_btn .btn_play:hover{
    opacity: 1;
}
#contents_wrap .banner_btn .btn_right{
    background: #000000 url(../images/common/white_arrow_after.svg) no-repeat;
    width: 48px;
    height: 48px;
    display: block;
    border-radius: 0px 25px 0px 0px;
    opacity: .6;
    transition: opacity 0.7s;
}
#contents_wrap .banner_btn .btn_right:hover{
    opacity: 1;
}


/* main_content1 */
#contents_wrap .main_content1{
    width: 705px;
    height: 338px;
    margin-left: 30px;
}
#contents_wrap .main_content1_bg{
    width: 100%;
    height: 100%;
    background: #ffffff;
    border-radius: 20px;
    position: relative;
}
#contents_wrap .content1_title{
    font-size: 21px;
    text-align: center;
    padding: 30px 0px 20px 0px;
}
#contents_wrap .content1_title::before{
    content: '';
    display: block;
    background: url(../images/main/main_star.svg) no-repeat;
    width: 42px;
    height: 53px;
    position: absolute;
    top: -3px;
    left: 50px;
}
#contents_wrap .content1_title span{
    color: #2e63c5;
}
#contents_wrap .content1_board{
    width: 653px;
    height: 228px;
    margin: 0 auto;
}
#contents_wrap .content1_board li{
    font-size: 15px;
    width: 33.33%;
    height: 33.33%;
    padding: 25px 0px 0px 80px;
    border: 1px solid #e6e6e6;
    cursor: pointer;
    position: relative;
    transition: background 0.7s;
}
.bg_blue{
    background: #e8f0fe;
}
#contents_wrap .content1_board li a{
    display: block;
}
#contents_wrap .content1_board li:nth-child(2),#contents_wrap .content1_board li:nth-child(9){
    padding-top: 15px;
}
#contents_wrap .content1_board li:nth-child(3n+2){
    border-left: none;
    border-right: none;
}
#contents_wrap .content1_board li:nth-child(n+4):nth-child(-n+6){
    border-top: none;
    border-bottom: none;
}
#contents_wrap .content1_board li:hover{
    background: #cbdeff;

}
#contents_wrap .content1_board li:nth-child(1) a::before{
    content: '';
    display: block;
    background: url(../images/main/simbol_1.svg) no-repeat ;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 18%;
    left: 10%;
}
#contents_wrap .content1_board li:nth-child(2) a::before{
    content: '';
    display: block;
    background: url(../images/main/simbol_2.svg) no-repeat;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 18%;
    left: 10%;
}
#contents_wrap .content1_board li:nth-child(3) a::before{
    content: '';
    display: block;
    background: url(../images/main/simbol_3.svg) no-repeat;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 18%;
    left: 10%;
}
#contents_wrap .content1_board li:nth-child(4) a::before{
    content: '';
    display: block;
    background: url(../images/main/simbol_4.svg) no-repeat;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 18%;
    left: 10%;
}
#contents_wrap .content1_board li:nth-child(5) a::before{
    content: '';
    display: block;
    background: url(../images/main/simbol_5.svg) no-repeat ;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 18%;
    left: 10%;
}
#contents_wrap .content1_board li:nth-child(6) a::before{
    content: '';
    display: block;
    background: url(../images/main/simbol_6.svg) no-repeat;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 18%;
    left: 10%;
}
#contents_wrap .content1_board li:nth-child(7) a::before{
    content: '';
    display: block;
    background: url(../images/main/simbol_7.svg) no-repeat;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 18%;
    left: 10%;
}
#contents_wrap .content1_board li:nth-child(8) a::before{
    content: '';
    display: block;
    background: url(../images/main/simbol_8.svg) no-repeat;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 18%;
    left: 10%;
}
#contents_wrap .content1_board li:nth-child(9) a::before{
    content: '';
    display: block;
    background: url(../images/main/simbol_9.svg) no-repeat;
    width: 45px;
    height: 45px;
    position: absolute;
    top: 18%;
    left: 10%;
}


/* main_content2 */
#contents_wrap .main_content2{
    position: relative;
    width: 705px;
    height: 308px;
    margin-top: 30px;
}
#contents_wrap .content2_content_box{
    position: absolute;
    width: 100%;
    top: 30%;
    left: 44px;
}
#contents_wrap .content2_content li{
    max-width: 100%;
    position: relative;
}
#contents_wrap .content2_content li:hover a{
    text-decoration: underline;
}
#contents_wrap .content2_content_box a{
    display: block;
    max-width: 560px;
    padding-right: 50px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#contents_wrap .content2_content_box span{
    position: absolute;
    right: 10%;
    color: rgba(26,26,26,.6);
}
#contents_wrap .content2_content li::before{
    content: '';
    display: block;
    position: absolute;
    width: 3px;
    height: 3px;
    left: -3%;
    top: 40%;
    background: #fff;
    border: 2px solid #ccc;
    border-radius: 50%;
}
#contents_wrap .content2_content_box>li>a{
    letter-spacing: initial;
    font-size: 15px;
    line-height: 210%;
}
#contents_wrap .content2_bg{
    width: 100%;
    height: 100%;
    background-color: #fff;
    border-radius: 20px;
    position: relative;
    padding: 26px 24px;
}
#contents_wrap .content2_title::before{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
    position: relative;
    top: 45px;
}
#contents_wrap .content2_title label{
    display: block;
    font-weight: bold;
    font-size: 18px;
    color: rgba(26,26,26,.6);
    padding: 0px 15px 20px;
    cursor: pointer;
    margin: 0 2px 0 3px;
    position: relative;
}
#contents_wrap .content2_title label::before{
    content: '';
    display: block;
    height: 2px;
    width: 0%;
    left: 50%;
    top: 43px;
    position: absolute;
    transform: translateX(-50%);
    transition: width 0.5s;
    background-color: #2e63c5;
}
#contents_wrap .content2_title input:checked+label::before{
    width: 100%;
}
#contents_wrap .content2_title label:hover{
    color: #1a1a1a;
}
#contents_wrap .content2_content{
    display: none;
}
#contents_wrap .main_content2 .more_btn a{
    position: relative;
    display: block;
    background: url(../images/main/more.svg) no-repeat center center;
    width: 18px;
    height: 18px;
    text-indent: -99999px;
    top: 7px;
    right: 8px;
    transform: rotate(0);
    transition: transform .3s linear;
}
#contents_wrap .main_content2 .more_btn a:hover{
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background: url(../images/main/more.svg) no-repeat center center;
    transform: rotate(180deg);
    transition: transform .3s linear;
}
#contents_wrap .content2_title input:checked+label{
    color: #1a1a1a;
}
#contents_wrap .more_btn{
    display: none;
    position: absolute;
    right: 2%;
    top: 7%;
}
#contents_wrap input{
    position: absolute;
    top: -9999999px;
    display: none;
}
#contents_wrap [type="radio"]:checked+label~div{
    display:block;
}


/*  main_content3 */
#contents_wrap .main_content3{
    width: 705px;
    height: 308px;
    margin: 30px 0px 0px 30px;
}
#contents_wrap .main_content3_bg{
    width: 100%;
    height: 100%;
    background: #ffffff;
    border-radius: 20px;
    position: relative;
    padding: 26px 24px;
}
#contents_wrap .content3_head h3{
    display: block;
    width: 100%;
    font-size: 18px;
}
#contents_wrap .content3_head h3::before{
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    background-color: #e6e6e6;
    position: relative;
    top: 45px;
}
#contents_wrap .content3_content{
    position: relative;
    width: 100%;
    height: 195px;
    margin-top: 40px;
}
#contents_wrap .content3_content ul{
    height: 195px;
    position: relative;
}
#contents_wrap .content3_content li{
    width: 208px;
    height: 100%;
    margin-right: 15px;
}
#contents_wrap .content3_content span img{
    width: 208px;
    display: block;
}
#contents_wrap .content3_content span{
    display: block;
    text-align: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}
#contents_wrap .main_content3_board .slide1 .picture{
    display: block;
    background: url(../images/board1/BOARD_1.jpg) no-repeat center center;
    background-size: auto 100%;
    transition: background-size 0.2s linear;
}
#contents_wrap .main_content3_board .slide2 .picture{
    display: block;
    background: url(../images/board1/BOARD_2.jpg) no-repeat center center;
    background-size: auto 100%;
    transition: background-size 0.2s linear;
}
#contents_wrap .main_content3_board .slide3 .picture{
    display: block;
    background: url(../images/board1/BOARD_3.jpg) no-repeat center center;
    background-size: auto 100%;
    transition: background-size 0.2s linear;
}
#contents_wrap .main_content3_board .slide4 .picture{
    display: block;
    background: url(../images/board1/BOARD_4.jpg) no-repeat center center;
    background-size: auto 100%;
    transition: background-size 0.2s linear;
}
#contents_wrap .main_content3_board .slide5 .picture{
    display: block;
    background: url(../images/board1/BOARD_5.jpg) no-repeat center center;
    background-size: auto 100%;
    transition: background-size 0.2s linear;
}
#contents_wrap .main_content3_board .slide6 .picture{
    display: block;
    background: url(../images/board1/BOARD_6.jpg) no-repeat center center;
    background-size: auto 100%;
    transition: background-size 0.2s linear;
}
#contents_wrap .content3_content li a:hover .picture{
    background-size: auto 110%;
}

#contents_wrap .content3_content .slick-prev{
    position: absolute;
    top: -56px;
    left: 554px;
    background: transparent url(../images/common/gray_arrow.svg) no-repeat center center;
    width: 18px;
    height: 18px;
    opacity: .3;
    transition: opacity 0.3s linear;
}
#contents_wrap .content3_content .slick-next{
    position: absolute;
    top: -56px;
    right: 46px;
    background: url(../images/common/gray_arrow_after.svg) no-repeat center center;
    width: 18px;
    height: 18px;
    opacity: .3;
    transition: opacity 0.3s linear;
}
#contents_wrap .content3_content .slick-prev:hover,
#contents_wrap .content3_content .slick-next:hover{
    opacity: 1;
}
#contents_wrap .content3_content .slick-prev::before,
#contents_wrap .content3_content .slick-next::before{
    content: '';
}

#contents_wrap .content3_content li span.title{
    margin-top: 10px;
    font-weight: normal;
}
#contents_wrap .content3_content li span.date{
    color: rgba(26,26,26,.6);
}
#contents_wrap .morebtn{
    position: absolute;
    top: 9%;
    right: 6%;
}
#contents_wrap .content3_btn{
    position: absolute;
    top: 9%;
    right: 10%;
}
#contents_wrap button{
    border: none;
    display: block;
    cursor: pointer;
}
#contents_wrap button:hover{
    opacity: 1;
}
#contents_wrap .content3_btn .btn_play{
    position: absolute;
    top: -1px;
    left: -37px;
    background: url(../images/common/gray_stop.svg) no-repeat center center;
    width: 18px;
    height: 18px;
    opacity: .3;
    transition: opacity 0.3s linear;
}

#contents_wrap .morebtn a{
    display: block;
    background: url(../images/main/more.svg) no-repeat center center;
    width: 18px;
    height: 18px;
    text-indent: -99999px;
    transform: rotate(0);
    transition: transform .3s linear;
}
#contents_wrap .morebtn a:hover{
    content: '';
    display: block;
    width: 18px;
    height: 18px;
    background: url(../images/main/more.svg) no-repeat center center;
    transform: rotate(180deg);
    transition: transform .3s linear;
}

/* sns_contents > sns_icon */
#contents_wrap .sns_contents{
    width: 100%;
    height: 400px;
    margin-top: 47px;
}
#contents_wrap .sns_icon{
    width: 100%;
    height: 60px;
}
#contents_wrap .sns_icon li{
    text-indent: -99999px;
    background: #fff;
    border-radius: 50%;
    margin: 0px 5px 20px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.1);
    transition: box-shadow .3s linear;
}
#contents_wrap .sns_icon li:hover{
    box-shadow: 4px 4px 4px rgba(0,0,0,.2);
}
#contents_wrap .sns_icon li:nth-child(1) a{
    display: block;
    background: url(../images/common/sns_1.svg) no-repeat center center;
    background-size: contain;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    text-indent: -99999px;
}
#contents_wrap .sns_icon li:nth-child(2) a{
    display: block;
    background: url(../images/common/sns_2.svg) no-repeat center center;
    background-size: contain;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    text-indent: -99999px;
}
#contents_wrap .sns_icon li:nth-child(3) a{
    display: block;
    background: url(../images/common/sns_3.svg) no-repeat center center;
    background-size: contain;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    text-indent: -99999px;
}
#contents_wrap .sns_icon li:nth-child(4) a{
    display: block;
    background: url(../images/common/sns_4.svg) no-repeat center center;
    background-size: contain;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    text-indent: -99999px;
}
#contents_wrap .sns_icon li:nth-child(5) a{
    display: block;
    background: url(../images/common/sns_5.svg) no-repeat center center;
    background-size: contain;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    text-indent: -99999px;
}
#contents_wrap .sns_icon li:nth-child(6) a{
    display: block;
    background: url(../images/common/sns_6.svg) no-repeat center center;
    background-size: contain;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    text-indent: -99999px;
}
#contents_wrap .sns_icon li:nth-child(7) a{
    display: block;
    background: url(../images/common/sns_7.svg) no-repeat center center;
    background-size: contain;
    border-radius: 50%;
    width: 42px;
    height: 42px;
    text-indent: -99999px;
}

/* sns_contents > sns_board */
#contents_wrap .sns_wrap{
    background: #fff;
    max-width: 100%;
    height: 340px;
    border-radius: 20px;
    padding: 35px 0px;
}
#contents_wrap .sns_wrap .sns_board>li{
    width: 290px;
}
#contents_wrap .sns_board .sns_title1 a{
    color: #fff;
    position: relative;
    display: block;
    width: 100%;
    font-size: 18px;
    text-align: left;
    line-height: 60px;
}
#contents_wrap .sns_board a span.title{
    padding-left: 120px;
}
#contents_wrap .sns_board .sns_title1 a::before{
    content: '';
    display: block;
    background: url(../images/common/facebook_2_w.svg) no-repeat center center;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 25%;
    left: 27.5%;
}
#contents_wrap .sns_board .sns_title1 a::after{
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: #e6e6e6;
    position: absolute;
}
#contents_wrap .sns_board .sns_title1{
    background: #405998;
    width: 290px;
    height: 60px;
    border-radius: 10px;
    position: relative;
    left:-10px;
}
#contents_wrap .sns_board>li{
    position: relative;
}
#contents_wrap .sns_board .sns_content1{
    max-width: 1065px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 120%;
    display: block;
    display: block;
}
#contents_wrap .sns_board .sns_content2{
    max-width: 1065px;
    height: 100%;
    position: absolute;
    top: -60px;
    left: 120%;
    display: none;
    display: none;
}
#contents_wrap .sns_board .sns_content3{
    max-width: 1065px;
    height: 100%;
    position: absolute;
    top: -120px;
    left: 120%;
    display: block;
    display: none;
}
#contents_wrap .sns_allcontents{
    width: 100%;
}
#contents_wrap .sns_board ul{
    height: 270px;
}
#contents_wrap .sns_board ul span:nth-child(2){
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 20px;
}
#contents_wrap .sns_board ul li{
    width: 280px;
    height: 270px;
    margin-right: 28px;
}
#contents_wrap .sns_board ul li a{
    height: 200px;
    width: 100%;
    text-align: left;
    display: block;
}
#contents_wrap .sns_board ul li a:hover .picture{
    background-size: 80% auto;
}
.sns_board .sns_content1 .fb_slide1 .picture{
    background: url(../images/board1/BOARD_facebook1.jpg) no-repeat top center;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
    display: block;
    transition: background-size .2s linear;
}
.sns_board .sns_content1 .fb_slide2 .picture{
    background: url(../images/board1/BOARD_facebook2.jpg) no-repeat top center;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
    display: block;
    transition: background-size .2s linear;
}
.sns_board .sns_content1 .fb_slide3 .picture{
    background: url(../images/board1/BOARD_facebook3.jpg) no-repeat top center;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
    display: block;
    transition: background-size .2s linear;
}
.sns_board .sns_content1 .fb_slide4 .picture{
    background: url(../images/board1/BOARD_facebook4.jpg) no-repeat top center;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
    display: block;
    transition: background-size .2s linear;
}
.sns_board .sns_content1 .fb_slide5 .picture{
    background: url(../images/board1/BOARD_facebook5.jpg) no-repeat top center;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
    display: block;
    transition: background-size .2s linear;
}

.sns_board .sns_content2 .blg_slide1 .picture{
    background: url(../images/board1/BOARD_blog1.jpg) no-repeat top center;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
    display: block;
    transition: background-size .2s linear;
}
.sns_board .sns_content2 .blg_slide2 .picture{
    background: url(../images/board1/BOARD_blog2.jpg) no-repeat top center;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
    display: block;
    transition: background-size .2s linear;
}
.sns_board .sns_content2 .blg_slide3 .picture{
    background: url(../images/board1/BOARD_blog3.jpg) no-repeat top center;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
    display: block;
    transition: background-size .2s linear;
}
.sns_board .sns_content2 .blg_slide4 .picture{
    background: url(../images/board1/BOARD_blog4.jpg) no-repeat top center;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
    display: block;
    transition: background-size .2s linear;
}
.sns_board .sns_content2 .blg_slide5 .picture{
    background: url(../images/board1/BOARD_blog5.jpg) no-repeat top center;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
    display: block;
    transition: background-size .2s linear;
}
.sns_board .sns_content1 .slick-prev::before,
.sns_board .sns_content1 .slick-next::before{
    content: '';
}

.sns_board .sns_content1 .slick-prev{
    background: url(../images/main/arrow_2.png) no-repeat center center;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 120px;
    left: -24px;
    z-index: 2;
}
.sns_board .sns_content1 .slick-next{
    background: url(../images/main/arrow_2.png) no-repeat center center;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 96px;
    right: 0px;
    transform: rotate(180deg);
    z-index: 2;
}

.sns_board .sns_title2{
    background: #23aa36;
    width: 290px;
    height: 60px;
    border-radius: 10px;
    position: relative;
    top: 1px;
    left:-10px;
}
.sns_board .sns_title2 a{
    color: #fff;
    position: relative;
    display: block;
    width: 100%;
    font-size: 18px;
    text-align: left;
    line-height: 60px;
}
#contents_wrap .sns_board .sns_title2 a::before{
    content: '';
    display: block;
    background: url(../images/common/sns_5_w.svg) no-repeat center center / contain;
    width: 60px;
    height: 50px;
    position: absolute;
    top: 8%;
    left: 22%;
}
#contents_wrap .sns_board .sns_title2 a::after{
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: #e6e6e6;
    position: absolute;
}

.sns_board .sns_content3 .you_slide1 .picture{
    background: url(../images/board1/BOARD_youtube1.jpg) no-repeat top center;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
    display: block;
    transition: background-size .2s linear;
}
.sns_board .sns_content3 .you_slide2 .picture{
    background: url(../images/board1/BOARD_youtube2.jpg) no-repeat top center;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
    display: block;
    transition: background-size .2s linear;
}
.sns_board .sns_content3 .you_slide3 .picture{
    background: url(../images/board1/BOARD_youtube3.jpg) no-repeat top center;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
    display: block;
    transition: background-size .2s linear;
}
.sns_board .sns_content3 .you_slide4 .picture{
    background: url(../images/board1/BOARD_youtube4.jpg) no-repeat top center;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
    display: block;
    transition: background-size .2s linear;
}
.sns_board .sns_content3 .you_slide5 .picture{
    background: url(../images/board1/BOARD_youtube5.jpg) no-repeat top center;
    background-size: 100% auto;
    width: 100%;
    height: 100%;
    display: block;
    transition: background-size .2s linear;
}

.sns_board .sns_title3{
    background: #ee4444;
    width: 290px;
    height: 60px;
    border-radius: 10px;
    position: relative;
    top: 2px;
    left:-10px
}
.sns_board .sns_title3 a{
    color: #fff;
    position: relative;
    display: block;
    width: 100%;
    font-size: 18px;
    text-align: left;
    line-height: 60px;
}
#contents_wrap .sns_board .sns_title3 a::before{
    content: '';
    display: block;
    background: url(../images/common/sns_3_w.svg) no-repeat center center / contain;
    width: 60px;
    height: 50px;
    position: absolute;
    top: 8%;
    left: 22%;
}
#contents_wrap .sns_board .sns_title3 a::after{
    content: '';
    display: block;
    height: 1px;
    width: 100%;
    background: #e6e6e6;
    position: absolute;
}
#contents_wrap .sns_contents .play_control{
    position: relative;
    top: -50px;
    left: 260px;
}
#contents_wrap .sns_contents .play_control .play{
    background: url(../images/common/gray_play.svg) no-repeat center center / contain;
    width: 28px;
    height: 28px;
    text-indent: -99999px;
    border: 1px solid rgba(0,0,0,.4);
    border-radius: 50%;
    position: absolute;
}
#contents_wrap .sns_contents .play_control .stop{
    background: url(../images/common/gray_stop.svg) no-repeat center center / contain;
    width: 28px;
    height: 28px;
    text-indent: -99999px;
    border: 1px solid rgba(0,0,0,.4);
    border-radius: 50%;
    position: absolute;
    display: none;
}

/* sub_contents */
.sub_contents{
    width: 100%;
    height: 276px;
    margin-top: 30px;
    position: relative;
}
.sub_content1,
.sub_content3{
    width: 338px;
    height: 100%;
    overflow: hidden;
    border-radius: 20px;
}
.sub_content2{
    max-width: 704px;
    height: 276px;
    margin: 0px 30px;
}

/* sub_contents >> sub_content1 */
.sub_content1 .content1_box1{
    width: 100%;
    height: 183px;
    background-color: #3fa265;
    border-radius: 20px;
    background-image: url(../images/main/main_item_6_bg.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 70%;
    position: relative;
    padding: 30px;
}
.sub_content1 .content1_box1 .title::before{
    content: '';
    display: block;
    background: url(../images/main/main_item_6_photo.png) no-repeat;
    width: 155px;
    height: 165px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 0px 0px 20px 0px;
}
.sub_content1 .content1_box1 .title a{
    font-size: 20px;
    color: #ffffff;
}
.sub_content1 .content1_box1 .content_duputy{
    margin-top: 20px;
}
.sub_content1 .content1_box1 .content_duputy a{
    color: #ffffff;
    line-height: 170%;
    font-size: 15px;
}
.sub_content1 .content1_box1 .content_duputy a:hover{
    text-decoration: underline;
}
.sub_content1 .content1_box1 .content_duputy li{
    margin-left: 12px;
    position: relative;
}
.sub_content1 .content1_box1 .content_duputy li::before{
    content: '';
    display: block;
    position: absolute;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #fed000;
    top: 35%;
    left: -12px;
}
.sub_content1 .content1_box2 ul{
    width: 100%;
    height: 77px;
    margin-top: 16px;
    background: #ffffff;
    border-radius: 20px;
}
.sub_content1 .content1_box2 .page1{
    width: 50%;
    height: 100%;
    position: relative;
}
.sub_content1 .content1_box2 .page1 a{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 20px 0px 0px 20px;
    background: #ffffff;
    transition: all .2s linear;
}
.sub_content1 .content1_box2 .page1 a span{
    position: relative;
    left: 55%;
    top: 20%;
}
.sub_content1 .content1_box2 .page1 a span::before{
    content: '';
    background: url(../images/main/simbol_10.svg) no-repeat;
    width: 58px;
    height: 50px;
    position: absolute;
    left: -58px;
    top: -2px;
}
.sub_content1 .content1_box2 .page2{
    width: 50%;
    height: 100%;
    border-left: 1px solid #e6e6e6;
}
.sub_content1 .content1_box2 .page2{
    width: 50%;
    height: 100%;
    position: relative;
}
.sub_content1 .content1_box2 .page2 a{
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 0px 20px 20px 0px;
    background: #ffffff;
    transition: all .2s linear;
}
.sub_content1 .content1_box2 .page2 a span{
    position: relative;
    left: 45%;
    top: 20%;
}
.sub_content1 .content1_box2 .page2 a span::before{
    content: '';
    background: url(../images/main/simbol_11.svg) no-repeat;
    width: 58px;
    height: 50px;
    position: absolute;
    left: -58px;
    top: -2px;
}
.sub_content1 .content1_box2 a:hover{
    background: #cbdeff;
    box-shadow: 2px 2px 4px rgba(0,0,0,.1);
}

/* sub_contents >> sub_content2 */
.sub_content2 .content2_box{
    width: 100%;
    height: 100%;
    background: #d6e1ed url(../images/main/dataitem7-pattern.png) repeat center center;
    border-radius: 20px;
}
.sub_content2 .title{
    padding: 20px 0px 10px 0px;
    font-size: 19px;
    text-align: center;
    font-weight: bold;
}
.sub_content2 .title::after{
    content: '';
    display: inline-block;
    background: url(../images/main/arrow_3.svg) no-repeat center center;
    vertical-align: top;
    width: 34px;
    height: 34px;
    margin: -3px 0px 0px 10px;
}
.sub_content2 .title span{
    color: #2e63c5;
}
.sub_content2 .content2_board{
    padding: 0px 28px;
}

.sub_content2 .content2_board ul{
    background: #ffffff;
    max-width: 648px;
    height: 190px;
    margin: 0 auto;
    overflow: hidden;
}
.sub_content2 .content2_board li{
    width: 25%;
    height: 25%;
    border-top: 1px solid #e6e6e6;
    border-right: 1px solid #e6e6e6;
    background-color: #ffffff;
    transition: background-color .3s linear;
}
.sub_content2 .content2_board li:nth-child(-n+4){
    border-top: none;
}
.sub_content2 .content2_board li:nth-child(4n){
    border-right: none;
}
.sub_content2 .content2_board li a{
    display: block;
    width: 100%;
    height: 46px;
    font-size: 15px;
    text-align: center;
    line-height: 45px;

}
.sub_content2 .content2_board li:hover{
    background-color: #E8F0FE;
}


/* sub_contents >> sub_content3 */
.sub_content3 .content3_box{
    background: #ffffff;
    border-radius: 20px;
}
.sub_content3 .title{
    width: 100%;
    height: 57px;
    padding: 15px 0px 0px 25px;
}
.sub_content3 .title>span{
    font-size: 19px;
    font-weight: bold;
}
.sub_content3 .content3_board img{
    width: 338px;
    display: block;
    border-radius: 20px;

}

.sub_content3 .slick-prev::before,
.sub_content3 .slick-next::before{
    content: '';
}
.sub_content3 .slick-prev{
    position: absolute;
    top: -28px;
    left: 270px;
    background: url(../images/common/gray_arrow.svg) no-repeat center center;
    width: 18px;
    height: 18px;
    opacity: .3;
    transition: opacity 0.3s linear;
}

.sub_content3 .control .btn_play{
    position: absolute;
    top: -1px;
    right: 18px;
    background: url(../images/common/gray_stop.svg) no-repeat center center;
    width: 18px;
    height: 18px;
    opacity: .3;
    transition: opacity 0.3s linear;
}

.sub_content3 .slick-next{
    position: absolute;
    top: -28px;
    right: 14px;
    background: url(../images/common/gray_arrow_after.svg) no-repeat center center;
    width: 18px;
    height: 18px;
    opacity: .3;
    transition: opacity 0.3s linear;
}
.sub_content3 .content3_board .slide1 a{
    display: block;
    background: url(../images/board1/BOARD_sub_1.png) no-repeat center / contain;
    background-size: 100% 100%;
    width: 338px;
    height: 219px;
    border-radius: 0px 0px 20px 20px;
}
.sub_content3 .content3_board .slide2 a{
    display: block;
    background: url(../images/board1/BOARD_sub_2.png) no-repeat center / contain;
    background-size: 100% 100%;
    width: 338px;
    height: 219px;
    border-radius: 0px 0px 20px 20px;
}
.sub_content3 .content3_board .slide3 a{
    display: block;
    background: url(../images/board1/BOARD_sub_3.png) no-repeat center / contain;
    background-size: 100% 100%;
    width: 338px;
    height: 219px;
    border-radius: 0px 0px 20px 20px;
}
.sub_content3 .control span{
    font-size: 13px;
    color: #939393;
    border: 1px solid #e6e6e6;
    padding: 5px 15px;
    border-radius: 15px;
    position: relative;
    top: -6px;
    margin-right: 60px;
}
.sub_content3 .control{
    position: relative;
    left: -15px;
    top: 6px
}

/* footer */
#footer{
    width: 100%;
    padding: 33px 0px;
    font-size: 14px;
}
#footer .footer_area{
    max-width: 1440px;
    height: 180px;
    margin: 0 auto;
    position: relative;
}

/* footer > footer_spon */
#footer .footer_spon{
    width: 100%;
    height: 47px;
    position: relative;
}
#footer .footer_banner{
    max-width: 1380px;
    height: 47px;
    margin: 0 auto;
}
#footer .footer_banner ul{
    width: 20000px;
    height: 100%;
}
#footer .footer_banner li{
    margin-right: 10px;
    height: 100%;
}
#footer .footer_banner a{
    position: relative;
    display: block;
    border: 1px solid rgba(0,0,0,.2);
    height: 100%;
    padding: 0px 44px 0px 24px;
    line-height: 44px;
    margin: 0px 1px;
}
#footer .footer_banner a::after{
    content: '';
    display: block;
    position: absolute;
    background: url(../images/common//blank.svg) no-repeat center center;
    width: 16px;
    height: 16px;
    top: 35%;
    right: 15px;
}
#footer .footer_banner a:hover{
    border: 1px solid rgba(0,0,0,.5);
}

#footer .footer_banner::after{
    content: "";
    display: block;
    position: absolute;
    right: -10px;
    top: 0;
    width: 100px;
    height: 100%;
    background: linear-gradient(90deg,rgba(255,255,255,0) 0%,rgba(255,255,255,1) 50%,#fff 100%);
}
#footer .footer_spon{
    overflow: hidden;
}
#footer .footer_spon .slick-prev{
    position: absolute;
    background: url(../images/common/back_arrow.svg) no-repeat;
    width: 24px;
    height: 24px;
    top: 25px;
    left: -30px;
    text-indent: -99999px;
    z-index: 2;
}
#footer .footer_spon .slick-next{
    position: absolute;
    background: url(../images/common/back_arrow.svg) no-repeat;
    width: 24px;
    height: 24px;
    top: 14px;
    left: 1390px;
    text-indent: -99999px;
    transform: rotate(180deg);
    z-index: 2;
}
#footer .footer_spon .after{
    position: absolute;
    background: url(../images/common/back_arrow.svg) no-repeat;
    width: 24px;
    height: 24px;
    top: 8px;
    right: 0px;
    text-indent: -99999px;
    transform: rotate(180deg);
    overflow: hidden;
}
/* footer > footer_menu */
#footer .footer_menu{
    margin-top: 30px;
}
#footer .footer_menu li:first-child a{
    color: #ec4038;
}
#footer .footer_menu li:nth-child(n+2){
    padding-left: 18px;
    position: relative;
}
#footer .footer_menu li:nth-child(n+2)::before{
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    height: 50%;
    background: #cecece;
    top: 30%;
    left: 10px;
}

/* footer > footer_address */
#footer address{
    font-style: normal;
    display: block;
    margin-top: 18px;
}

/* footer > footer_copy */
#footer .footer_copy strong{
    margin-right: 14px;
}
#footer .footer_copy span:nth-child(2)::after,
#footer .footer_copy span:nth-child(3)::after{
    content: ' /';
    margin: 0 4px;
}

/* footer > footer_etc */
#footer .footer_etc{
    position: absolute;
    right: 0;
    bottom: 20px;
}
#footer .footer_etc li:nth-child(-n+3){
    margin-right: 20px;
}
#footer .footer_etc li:nth-child(1) a{
    display: block;
    background: url(../images/common/footer_bn_1.png) no-repeat center center;
    width: 114px;
    height: 60px;
}
#footer .footer_etc li:nth-child(2) a{
    display: block;
    background: url(../images/common/footer_bn_2.png) no-repeat center center;
    width: 100px;
    height: 60px;
}
#footer .footer_etc li:nth-child(3) a{
    display: block;
    background: url(../images/common/footer_bn_3.png) no-repeat center center;
    width: 76px;
    height: 60px;
}
#footer .footer_etc li:nth-child(4) a{
    display: block;
    background: url(../images/common/footer_bn_4_2.png) no-repeat center center;
    width: 92px;
    height: 60px;
}

/* 탑버튼 */
#back_to_top{
    position: fixed;
    bottom: 4%;
    right: 2%;
    background-color: #3a589e;
    color: #ffffff;
    border: 3px solid transparent;
    border-radius: 10px;
    padding: 8px 12px;
    text-transform: uppercase;
    font-weight: bold;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.25);
    display: inline-block;
    font-size: 14px;
    transition: all 0.3s ease-in-out;
    opacity: 0;
}
#back_to_top.visible{
    opacity: 1;
}
#back_to_top:hover{
    color: #3a589e;
    background-color: #e8f0fe;
    border: 3px solid #3a589e;
}